* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-size: var(--psize);
}

:root {
    --bleu: #6EC1E4;
    --orange: #F7812E;
    --h1size: 40px;
    --h2size: 29px;
    --h3size: 25px;
    --bold: 700;
    --semi-bold: 600;
  --psize: 18px;
}

header {
  width: 100%;
  height: 80px;
  background: var(--orange);
  position: fixed;
  z-index: 10;
}

header > nav {
  z-index: 10;
  background: var(--orange);
  position: fixed;
  height: 30px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

a {
  font-weight: var(--semi-bold);
  color: white;
}

nav > #logo > img {
  width: 120px;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  display: flex;
  margin: 0 20px;
  padding-top: 15px;
}

nav > ul > li:last-child {
  display: block;
  width: 150px;
  height: 45px;
  background: var(--bleu);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.burger {
  display: none;
}

#slide article{
  width: 700px;
  height: 200px;
  position: absolute;
  top: 200px;
  left: 60px;
}

#slide img{
  margin-top: 80px;
  width: 100%;
  height: 80vh;
}

#slide p {
  color: white;
}

#un {
  width: 50%;
  min-height: 70vh;
  color: black;
}

#deux{
  position: relative;
}

span{
  background: var(--bleu);
  height: 80vh;
  width: 300px;
  border-radius: 10%;
  position: absolute;
  top: 90%;
  right: 0;
  z-index: -1;
}

#deux img{
  position: absolute;
  width: 350px;
  height: 70vh;
  bottom: 9%;
  left: 60%;
  border-radius: 10%;
}

h1{
  font-size: var(--h1size);
  color: white;
  font-family: "Lilita One", cursive;
}
h2 {
  font-size: var(--h2size);
  color: black;
  margin-top: 10%;
  text-align: center;
  font-family: "Lilita One", cursive;
}

p{
    display: block;
    margin-top: 10px;
    padding: 15px;
}

#donate-button {
  margin-left: 8%;
}
footer > a > img {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 200px;
}

footer {
  position: relative;
  padding: 10px;
  display: flex;
  width: 100%;
  background: var(--orange);
  margin-top: 3rem;
}

footer > ul {
  margin-top: 150px;
  justify-content: space-between;
  margin-left: 13%;
  width: 30%;
  height: 100%;
}

footer > ul > li {
  padding: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .burger {
    width: 30px;
    z-index: 3;
    display: inline-block;
  }

  nav > ul > li:nth-child(6) {
    display: none;
  }
  nav > ul > li {
    display: none;
  }

  #donate-button {
    margin-left: 25%;
  }
}

@media screen and (max-width: 767px) and (orientation: Portrait) {
  .burger {
    width: 30px;
    z-index: 3;
    display: inline-block;
  }

  nav > ul > li:nth-child(6) {
    display: none;
  }
  nav > ul > li {
    display: none;
  }

  #donate-button {
    margin-left: 40px;
  }

  h1 {
    font-size: (--h1size);
    color: black;
    margin-top: 25%;
    text-align: center;
    font-family: "Lilita One", cursive;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1025px) {

}
