* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: var(--semi-bold);
}

:root {
    --bleu: #6EC1E4;
    --orange: #F7812E;
    --h1size: 60px;
    --h2size: 19px;
    --h3size: 17px;
    --semi-bold: 600;
    --psize: 18px;
}


header {
    background: url(../img/wave.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 148vh;
}

header>#article1 {
    position: absolute;
    top: 30%;
    left: 10%;
}

#article1>h1 {
    font-family: 'Lilita One', cursive;
    margin: 15px 0 15px 0;
    font-size: 45px;
}

#article1>p {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0 15px 0;
    font-size: var(--psize);
    font-weight: var(--semi-bold);
}

header>#article4 {
    background-image: url(../img/photo\ header\ petit.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 100px 0 0 200px;
    padding: 50px;
    position: absolute;
}

header>#article3 {
    background-image: url(../img/photo\ header\ petit\ garcon.jpg);
    background-size: cover;
    left: 80%;
    border-radius: 50%;
    margin-top: 300px;
    padding: 50px;
    position: absolute;
}

header>#article2 {
    display: block;
    /* margin: 200px 200px 10 0px; */
    position: absolute;
    top: 90px;
    left: 520px;
    padding: 150px;
    background-image: url(../img/photo\ header\ 1.png);
    background-size: cover;
    border-radius: 73% 27% 80% / 83% 58% 42% 17%;
}

header>#triangle-bleu {
    position: absolute;
    background-image: url(../img/Polygon\ 1.svg);
    margin: 130px 100px 100px -30px;
    background-size: cover;
    height: 190px;
    width: 90px;
}

#smiley1 {
    display: block;
    background-image: url(../img/Happy\ Cloud.svg);
    background-size: cover;
    position: absolute;
    left: 400px;
    top: 200px;
    bottom: 500px;
    height: 80px;
    width: 80px;
}

header>span {
    background-image: url(../img/Ellipse\ 5.svg);
    background-size: cover;
    position: absolute;
    margin-top: 55px;
    top: 10%;
    right: 0;
    width: 60px;
    height: 130px;
}

.btnbleu {
    display: block;
    background: var(--bleu);
    border-radius: 5px;
    width: 160px;
    height: 33px;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 18px;
    margin-bottom: 3rem;
    margin-left: 43%;
    font-size: var(--psize);
}

header>nav {
    z-index: 10;
    background: var(--orange);
    position: fixed;
    height: 30px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

header>nav>ul>li>a {
    color: white;
}
.burger{
    display: none;
}
a {
    font-weight: var(--semi-bold);
    color: white;
}

nav>#logo>img {
    width: 120px;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    display: flex;
    margin: 0 20px;

}

/* .burger {
    width: 32px;
    display: none;
} */
/* #mobile-menu {
    margin-left: 0;
} */

#burger{
    display: none;
}
section {
    margin-top: 50px;
}

#un>h3 {
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 1em;
    font-family: 'Lilita One', cursive;
}

#un>h2 {
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    text-align: center;
}

#un {
    width: 100%;
    margin-top: -300px;
}

#un>p {
    font-size: var(--psize);
    font-weight: var(--semi-bold);
    display: block;
    width: 90%;
    padding: 10px;
    margin-left: 30px;
}

h2 {
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    margin: 20px;
}

#deux {
    /* background: url(../img/Group-vague-photo.png);
    background-size: cover; */
    position: relative;
    flex-wrap: wrap;
    display: flex;
    margin-top: 70px;

}

#deux>figure>img {
    margin: 18px;
    /* margin-left: 30px; */
    border: solid black 2px;
    /* max-width: 100%; */
    border-radius: 8px;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.227);
    height: 240px;
    width: 230px;

}

#deux>figure {
    margin-left: 5%;
}

h3 {
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size: 25px;
}

#trois>p {
    font-size: var(--psize);
    font-weight: var(--semi-bold);
    display: block;
    width: 90%;
    padding: 10px;
    margin-left: 50px;
}

#quatre>h2 {
    font-family: 'Lilita One', cursive;
    font-size: 30px;
    text-align: center;
}

#quatre>p {
    font-size: var(--psize);
    font-weight: var(--semi-bold);
    display: block;
    width: 90%;
    padding: 10px;
    margin-left: 50px;
}

footer>a>img {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 200px;
}

footer {
    position: relative;
    padding: 10px;
    display: flex;
    width: 100%;
    background: var(--orange);
    margin-top: 3rem;
}

footer>ul {
    margin-top: 150px;
    justify-content: space-between;
    display: flex;
    margin-left: 30%;
    width: 30%;
    height: 100%;
}

footer>ul>li {
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 768px)and (orientation: Landscape) {

    header {
        background: url(../img/wave.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 120vh;
    }

    #burger{
        width: 40px;
        z-index: 3;
    }

    nav>ul>li {
        display: none;
    }

    header>#triangle-bleu {
        position: absolute;
        background-image: url(../img/Polygon\ 1.svg);
        margin: 240px 100px 100px -30px;
        background-size: cover;
        height: 120px;
        width: 70px;
    }

    header>#article1 {
        position: absolute;
        top: 20%;
        left: 3%;
    }

    #article1>h1 {
        font-family: 'Lilita One', cursive;
        margin: 15px 0 15px 0;
        font-size: 35px;
    }

    #article1>p {
        font-family: 'Raleway', sans-serif;
        margin: 15px 0 15px 0;
        font-size: var(--psize);
        font-weight: var(--semi-bold);
    }

    .burger{
        display: inline-block;
        width: 40px;
    }

    header>#article4 {
        background-image: url(../img/photo\ header\ petit.jpg);
        background-size: cover;
        border-radius: 50%;
        padding: 35px;
        left: 13%;
        position: absolute;
    }
    
    header>#article3 {
        background-image: url(../img/photo\ header\ petit\ garcon.jpg);
        background-size: cover;
        left: 86%;
        border-radius: 50%;
        margin-top: 300px;
        padding: 38px;
        position: absolute;
    }
    
    header>#article2 {
        display: block;
        /* margin: 200px 200px 10 0px; */
        position: absolute;
        top: 90px;
        left: 420px;
        padding: 100px;
        background-image: url(../img/photo\ header\ 1.png);
        background-size: cover;
        border-radius: 73% 27% 80% / 83% 58% 42% 17%;
    }

    #deux {
        /* background: url(../img/Group-vague-photo.png);
        background-size: cover; */
        position: relative;
        flex-wrap: wrap;
        display: flex;
        width: 97.6vw;
        margin-top: 70px;
    }
    #deux>figure {
        margin-left: 9%;
    }

    footer>a>img {
        position: absolute;
        top: 60px;
        left: 20px;
        width: 200px;
    }
    
    footer {
        position: relative;
        padding: 10px;
        display: flex;
        width: 100%;
        background: var(--orange);
        margin-top: 3rem;
    }
    
    footer>ul {
        margin-top: 150px;
        justify-content: space-between;
        display: flex;
        margin-left: 30%;
        width: 30%;
        height: 100%;
    }
    
    footer>ul>li {
        padding: 10px;
        width: 100%;
    }
}

@media screen and (max-width:320px) and (orientation: Portrait){
    header {
        background: url(../img/wave.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }

    header>#article1 {
        position: absolute;

    }

    #article1>h1 {
        font-family: 'Lilita One', cursive;
        margin: 5px 0 5px 0;
        font-size: 23px;
    }
    
    #article1>p {
        font-family: 'Raleway', sans-serif;
        margin: 5px 0 5px 0;
        font-size: var(--psize);
    }

    #un>h3 {
        margin-top: 2em;
        margin-left: 1em;
        margin-bottom: 1em;
        font-family: 'Lilita One', cursive;
    }
    
    #un>h2 {
        font-family: 'Lilita One', cursive;
        font-size: 30px;
        text-align: center;
    }
    
    #un {
        margin-top: 2rem;
    }
    
    #un>p {
        font-size: var(--psize);
        font-weight: var(--semi-bold);
        display: block;
        width: 90%;
        padding: 10px;
        margin-left: 50px;
    }

    .btnbleu {
        display: block;
        background: var(--bleu);
        border-radius: 5px;
        width: 160px;
        height: 33px;
        color: white;
        text-align: center;
        padding: 5px;
        margin-top: 18px;
        margin-bottom: 3rem;
        margin-left: 2.5rem;
        font-size: var(--psize);
    }

    nav>ul>li{
        display: none;
    }

    header>#article4 {
        background-image: url(../img/photo\ header\ petit.jpg);
        background-size: cover;
        border-radius: 50%;
        margin: 80px 0 0 40px;
        padding: 25px;
        position: absolute;
    }
    
    header>#article3 {
        background-image: url(../img/photo\ header\ petit\ garcon.jpg);
        background-size: cover;
        left: 70%;
        border-radius: 50%;
        margin-top: 330px;
        padding: 30px;
        position: absolute;
    }
    
    header>#article2 {
        display: none;
    }
    
    header>#triangle-bleu {
        position: absolute;
        background-image: url(../img/Polygon\ 1.svg);
        margin: 130px 100px 100px -30px;
        background-size: cover;
        height: 90px;
        width: 60px;
    }
    
    #smiley1 {
        display: block;
        background-image: url(../img/Happy\ Cloud.svg);
        background-size: cover;
        position: absolute;
        left: 49%;
        top: 90px;
        height: 60px;
        width: 60px;
    }
    
    header>span {
        background-image: url(../img/Ellipse\ 5.svg);
        background-size: cover;
        position: absolute;
        margin-top: 55px;
        top: 10%;
        right: 0;
        width: 50px;
        height: 100px;
    }

    nav>#logo>img {
        width: 90px;
    }

    #deux {
        position: relative;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        margin-top: 70px;
    }
    
    #deux>figure>img {
        margin: 18px;
        /* margin-left: 30px; */
        border: solid black 2px;
        /* max-width: 100%; */
        border-radius: 8px;
        box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.227);
        height: 240px;
        width: 230px;
    
    }
    
    #deux>figure {
        margin-left: 8%;
    }

    footer>a>img {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 100px;
    }
    


}